*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    max-width: 1440px;
    height: 100%;
}
#navBarContainer{
    display: flex;
    position: relative;
    flex-direction: column;
}
nav{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav1{
    border: 0.3px solid lightgray;
}
img.nav1Tools{
    height: 100%;
    width: 300px;
}
.nav1SearchImg{
    position: absolute;
    height: 33px;
    right: 1%;
}
.nav1SearchBar{
    position: absolute;
    right: 1%;
    height: 33px;
    width: 300px;
    border: 0.3px solid lightgray;
    border-radius: 5px;
}
.nav2{
    height: 30px;
    background-color: white;
}
.nav2 img{
    position: absolute;
    right: 1%;
}
.nav2Div{
    width: 100%;
    font-size: 10px;
}
.nav2Div :nth-child(1){
    text-decoration: underline;
    font-weight: bolder;
    margin-left: 1%;
}
.nav2Div :nth-child(2){
    color: gray;
    font-size: 10px;
}
.nav3{
    border-bottom: 5px solid lightgray;
}
.nav3 img{
    position: absolute;
    right: 1%;
}
.nav3Span{
    color: rgb(92, 92, 92);
    font-weight: bold;
    margin-left: 1%;
}
.nav3Input{
    font-size: 10px;
    height: 25px;
    width: 140px;
    border: 0.3px solid lightgray;
    border-radius: 5px;
    margin-left: 1%;
    text-align: center;
}
button.nav3Btn{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/exitBtn.svg);
    height: 25px;
    width: 70px;
    padding: 2px;
    margin: 10px;
    outline: none;
    border: none;
}
#workerTools{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -18%;
    left: 5%;
}
.workerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.workerInfo :nth-child(2){
    font-weight: bold;
    margin-bottom: 10px;
    color: #696969;
}
.workerInfo :nth-child(3),
.workerInfo :nth-child(4),
.workerInfo :nth-child(5){
    font-weight:lighter;
    color: #969696;
}
.toolsContainer{
    height: 430px;
    width: 200px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 41%;
    z-index: -1;
    border-radius: 5px;
}
hr{
    margin-top: 10px;
    border: 0.5px solid rgb(233, 233, 233);
    width: 140%;
}
.toolsContainer aside{
    position: relative;
    top: 35%;
    text-align: center;
}
